[correlator]
#FFT Shift
fft_shift = 0x03ff
#number of frequency channels
n_chans = 1024
#Number of clock cycles to integrate.
acc_len = 149504000
#number of antennas in the design.
n_ants = 4
#Clockrate of ADCs in GHz. IBOB clock is adc_clk/4.
adc_clk = 0.600
#Number of stokes parameters calculated.
n_stokes = 1
#Number of X engines per FPGA
x_per_fpga = 1
#Mixing freqency of the DDC block in the F engines, 1.0 if no DDC
ddc_mix_freq = 0.25
#Frequency decimation of the DDC block in the F engines, 1 if no DDC
ddc_decimation = 4
#iBOB ip address to telnet into
ibob_ip = 169.254.128.2
# zero out ground
zero_ground = 1

[transmit]
#transmit packet size including header, usually 21 byte header and 1024 of data
tx_pkt_size = 1045
#packet header size
tx_pkt_header_size = 21
#number of channels per BRAM
nchan_per_bram = 1024
#number of packets per BRAM
pkts_per_bram = 4
#number of BRAMs per packet
brams_per_pkt = 1
#number of brams
nbrams = 16
#design name
design_name = POCO_I4_IADC_600

[receiver]
#Time between MIRIAD files
t_per_file = 360
#Receive computer's IP Address
rx_ip_address = 169.254.128.10
#UDP receive port
udp_port = 6969
#buffer size to use for receiving packets
rx_buffer_size = 2048
max_payload_len=1024

[equalisation]
#Perform automatic equalization (=1) or set to fixed EQ_poly values (=0)
auto_eq = 0
#Number of equalization blocks, include an eq_poly_x entry for each block
eq_blocks = 4
#Number of equalization channels per equalization block
eq_chans = 1024
#Starting point for auto-equalization or values for manual eq programming.
#One line entry per antenna. Item is a list of polynomial coefficients.
#Eg,
#EQ_poly_0 = 10, 30 ,40
#corresponds to 10 + 30x^2 + 40x^4
EQ_poly_0 = 300
EQ_poly_1 = 300
EQ_poly_2 = 300
EQ_poly_3 = 300

[antennas]
#Array co-ordinates in DD:MM:SS.ss,DD:MM:SS.ss
location = 38:25:59.24,-79:51:02.1
#Physical inputs to logical antenna number mapping. Not yet fully functional.
#order is in the form inputs: a,b,c,d
order = 0,1,2,3
#Antenna position offsets from location in wavelengths
pos_0 =   -8.48,      455.28,     9.82
pos_1 =  205.47,      319.53,  -251.71
pos_2 =  187.10,     -352.95,  -232.59
pos_3 = -262.70,     -219.07,   318.70
